.Card {
    width: 150px;
    height: 80px;
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    vertical-align: center;
    position: relative;
}

.deleteButton {
	float: right;
}

.linkOriginButton {
    height: 15px;
    width: 15px;
    background-color: lightgreen;
    border-radius: 100%;
    border: solid;
    position: absolute;
    bottom: -7.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.linkDestButton{
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 100%;
    border: solid;
    position: absolute;
    top: -7.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}