.Card {
    z-index: 2;
    width: 150px;
    height: 80px;
    background-color: whitesmoke;
    display: inline-block;
    margin-left: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 20px;
    vertical-align: top;
    position: relative;
}
  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 50;
    opacity:0.4；
  }
.CardText {
    text-align: center;
    margin-right: 30px;
}

.deleteButton {
    margin-right: -10px;
    float: right;
}

.linkOriginButton {
    height: 15px;
    width: 15px;
    background-color: lightgreen;
    border-radius: 100%;
    border: solid;
    position: absolute;
    bottom: -7.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.linkDestButton {
    height: 15px;
    width: 15px;
    background-color: lightblue;
    border-radius: 100%;
    border: solid;
    position: absolute;
    top: -7.5px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.modal {
    font-size: 12px;
    z-index: 1000;
  }
  .modal > .header {
    width: 100%;
    border-bottom: 1px solid gray;
    font-size: 18px;
    text-align: center;
    padding: 5px;
  }
  .modal > .content {
    width: 100%;
    padding: 10px 5px;
  }
  .modal > .actions {
    width: 100%;
    padding: 10px 5px;
    margin: auto;
    text-align: center;
  }
  .modal > .close {
    cursor: pointer;
    position: absolute;
    display: block;
    padding: 2px 5px;
    line-height: 20px;
    right: -10px;
    top: -10px;
    font-size: 24px;
    background: #ffffff;
    border-radius: 18px;
    border: 1px solid #cfcece;
  }