.GridSection {
    display: grid;
    grid-template-areas: 
        'title cards plus';
    grid-template-columns: 40px auto 40px; 
    padding-right: 2%;
    padding-left: 2%;
    grid-gap: 5px;
    min-height: 25%;
}

.sectionTitle {
    grid-area: title;
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    justify-self: center;
    align-self: center;
    font-size: 1.5em;
}

.cardsSection {
    grid-area: cards;
    align-self: center;
}

.plusButton {
    grid-area: plus;
    justify-self: center;
    align-self: center;
}