.GridSection {
    display: grid;
    grid-template-areas: 
        'title cards plus';
    grid-template-columns: 40px auto 40px; 
    padding: 30px;
    grid-gap: 5px;
}

.sectionTitle {
    grid-area: title;
    text-orientation: sideways-right;
    writing-mode: vertical-lr;
    justify-self: center;
    align-self: center;
}

.cardsSection {
    grid-area: cards;
}

.plusButton {
    grid-area: plus;
    justify-self: center;
    align-self: center;
}